.loadingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 3rem;
    border-radius: 5px;
    background-color: var(--background-color);
}

.streamers {
    margin: 2rem 0;
    width: 100%;

    &List {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 20px;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px 20px;
        }

        @media (min-width: 1200px) {
            grid-gap: 30px 45px;
        }

        @media (min-width: 1900px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px 80px;
        }

        @media (min-width: 2400px) {
            grid-template-columns: 1fr 1fr 1fr 1f;
        }

        @media (min-width: 3000px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
