.navigation {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--bh-primary-background-color);

    &Logo {
        margin: 8px 16px;
        padding: 22px;
    }

    &User {
        padding: 20px 40px;
        border: 1px solid var(--bh-outside-color);
        border-left: none;
        border-right: none;
    }

    &Tabs {
        margin: 0 auto;
        width: 268px;
        height: 100%;
    }

    &Creators {
        margin: 40px 0;
    }
}

.user {
    display: flex;
    align-items: center;

    &Name {
        line-height: 1.3;
        overflow-wrap: break-word;
        margin: 0 12px;
        width: 130px;
        font-size: var(--bh-text-size);
        font-weight: bold;
        color: var(--bh-text-color);
    }

    &Approval {
        width: 18px;
        height: 18px;
    }
}

.tabs {
    &Title {
        margin: 18px 24px;
        font-size: var(--bh-text-size);
        font-weight: bold;
        color: var(--bh-description-text-color);
    }

    &Title:last-child {
        margin: 18px 24px 40px 18px;
    }
}
