.container {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.container span {
    display: block;
    margin-top: 1rem;
    font-size: var(--secondary-text-size);
    color: var(--bh-blue);
}
