.song {
    display: flex;
    text-align: left;
    color: var(--text-color);

    &Preview {
        flex-shrink: 1;
        display: inline-block;
        min-width: 320px;
        margin-right: 16px;

        & img {
            border-radius: 5px;
            width: 100%;
        }
    }

    &Info {
        flex-shrink: 1;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--bh-primary-background-color);
        border-radius: 5px;
        padding: 15px 32px;
    }

    &Center .songFlex {
        justify-content: center;
    }

    &Small {
        .songName {
            font-size: var(--bh-small-title-text-size);
        }

        .songPreview {
            display: none;
        }
    }

    &Compact {
        .songName {
            font-size: var(--bh-small-title-text-size);
        }

        .songPreview {
            min-width: 240px;
        }

        .songInfo {
            padding: 15px 24px;
        }
    }

    &Empty {
        display: flex;
        align-items: center;
        font-size: var(--secondary-text-size);
        font-weight: bold;

        &Emote {
            width: 64px;
            height: 64px;
            margin-right: 12px;
        }
    }

    &Status {
        display: inline-block;
        margin-bottom: 1rem;
        color: var(--bh-text-color);
        font-weight: bold;
        font-size: var(--secondary-text-size);
    }

    &Emote {
        float: left;
        height: 56px;
        width: 56px;
        margin-right: 10px;
    }

    &Name {
        height: 100%;
        line-height: 1.2;
        display: block;
        font-weight: bold;
        font-size: var(--bh-title-text-size);
        color: var(--bh-blue);
        color: var(--bh-text-color);

        &:hover {
            text-decoration-line: underline;
        }

        &Container {
            overflow: hidden;
        }
    }

    &ExtraInfo {
        color: var(--bh-text-color-06);
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }

    &Sender {
        white-space: pre-wrap;
        line-height: 1.2;
        width: 100%;
        margin-right: 20px;

        & span {
            color: var(--bh-text-color);
            font-weight: bold;
        }
    }

    &Duration {
        white-space: nowrap;
    }
}
