.commands {
    position: relative;

    &Headlines {
        overflow: hidden;
        border: 1px solid var(--bh-outside-color);
        border-left: none;
        border-right: none;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 8px;
        }
        @media (pointer: coarse) {
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
    }

    &Overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &Active {
            display: block;
        }
    }
}

.command {
    display: flex;
    align-items: center;
    overflow-x: auto;

    &Focus {
        background-color: var(--bh-background-color);
    }

    &::-webkit-scrollbar {
        height: 8px;
    }

    @media (pointer: coarse) {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &Actions {
        display: flex;
        column-gap: 10px;
    }
}

.cell {
    padding: 20px 16px;

    &Name {
        font-size: 1rem;
        font-weight: bold;
        color: var(--bh-text-color-04);
    }

    &Text {
        font-size: 1rem;
        font-weight: bold;
        color: var(--bh-text-color);
    }

    &:nth-child(1) {
        width: 103px;
        flex-shrink: 0;
    }

    &:nth-child(2) {
        max-width: 23s0px;
        min-width: 200px;
        width: 100%;
        flex-shrink: 1;
    }

    &:nth-child(3) {
        width: 100%;
        min-width: 250px;
        flex-shrink: 1;
    }

    &:nth-child(4) {
        width: 110px;
        flex-shrink: 0;
    }

    &:nth-child(5) {
        width: 170px;
        flex-shrink: 0;
    }

    // &:nth-child(1) {
    //     width: 103px;
    //     flex-shrink: 0;
    // }

    // &:nth-child(2) {
    //     width: 200px;
    //     flex-shrink: 0;
    // }

    // &:nth-child(3) {
    //     width: 100%;
    //     max-width: 320px;
    //     min-width: 250px;
    //     flex-shrink: 1;
    // }

    // &:nth-child(4) {
    //     width: 100%;
    //     min-width: 320px;
    //     min-width: 320px;
    //     flex-shrink: 1;
    // }

    // &:nth-child(5) {
    //     width: 150px;
    //     flex-shrink: 0;
    // }

    // &:nth-child(6) {
    //     width: 110px;
    //     flex-shrink: 0;
    // }

    // &:nth-child(7) {
    //     width: 170px;
    //     flex-shrink: 0;
    // }
}

.commandTags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 6px;
}

.commandTag {
    max-width: 100%;
    padding: 6px 16px;
    display: inline-flex;
    justify-self: center;
    align-items: center;
    border: 1px solid var(--bh-text-color-04);
    border-radius: 24px;
    background-color: var(--bh-primary-background-color-04);

    &Name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        color: var(--bh-text-color);
    }
}
