.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Bth {
        padding: 10px 24px;
        display: inline-block;
        margin: 0 1rem 1rem 0;
    }

    &Compact {
        flex-direction: column;
        align-items: start;
    }

    &Title {
        margin-right: 1rem;
        font-size: var(--bh-text-size);
        color: var(--text-color);
        font-weight: bold;
    }
}
