.bth {
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
    font-size: var(--secondary-text-size);
    font-weight: bold;
    
    &:hover {
        color: #ffffff;
    }

    &Primary {
        background-color: var(--secondary-bth-color);
        color: var(--primary-text-color);

        &:hover {
            background-color: var(--secondary-hover-bth-color);
        }
    }

    &Secondary {
        background-color: var(--tertiary-bth-color);
        color: var(--secondary-text-color);

        &:hover {
            background-color: var(--tertiary-hover-bth-color);
        }
    }
}
