.bth {
    display: flex;
    align-items: center;
    border-radius: var(--bh-bth-border-radius);
    transition: background-color 0.1s;

    &Border {
        border: 1px solid var(--bh-outside-color);
    }

    &Text {
        line-height: 1;
        color: var(--bh-text-color);
        font-size: var(--bh-text-size);
        font-weight: bold;
        transition: color 0.1s;
    }

    &Icon {
        color: var(--bh-text-color);
        transition: color 0.1s;

        &Left {
            margin-left: 12px;
        }

        &Right {
            margin-right: 12px;
        }
    }

    &Transparent {
        &:hover {
            background-color: var(--bh-blue);

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }
    }

    &Default {
        background-color: var(--bh-outside-color);

        &:hover {
            background-color: var(--bh-blue);

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }
    }

    &Blue {
        background-color: var(--bh-blue-008);
        border-color: var(--bh-blue-06);

        &:hover {
            background-color: blue;

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }

        .bthText {
            color: var(--bh-text-color);
        }

        .bthIcon {
            color: var(--bh-text-color);
        }
    }

    &FillBlue {
        background-color: var(--bh-blue);
        border-color: var(--bh-blue-06);

        &:hover {
            background-color: blue;
        }

        .bthText {
            color: white;
        }

        .bthIcon {
            color: white;
        }
    }

    &Green {
        background-color: var(--bh-green-008);
        border-color: var(--bh-green-06);

        &:hover {
            background-color: var(--bh-green-06);

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }

        .bthText {
            color: var(--bh-green);
        }

        .bthIcon {
            color: var(--bh-green);
        }
    }

    &FillRed {
        background-color: var(--bh-red);
        border-color: var(--bh-outside-color);

        &:hover {
            background-color: red;

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }

        .bthText {
            color: white;
        }

        .bthIcon {
            color: white;
        }
    }

    &Red {
        background-color: var(--bh-red-008);
        border-color: var(--bh-red-06);

        &:hover {
            background-color: var(--bh-red-06);

            .bthText {
                color: white;
            }

            .bthIcon {
                color: white;
            }
        }

        .bthText {
            color: var(--bh-red);
        }

        .bthIcon {
            color: var(--bh-red);
        }
    }

    &Orange {
        &:hover {
            background-color: var(--bh-orange-008);

            .bthText {
                color: var(--bh-orange);
            }

            .bthIcon {
                color: var(--bh-orange);
            }
        }

        .bthText {
            color: var(--bh-orange);
        }

        .bthIcon {
            color: var(--bh-orange);
        }
    }

    &Padding {
        &Big {
            padding: 16px 28px;
        }

        &Normal {
            padding: 12px 24px;
        }

        &Small {
            padding: 10px 20px;
        }
    }
}
