.header {
    padding: 16px 0 16px 0;
    position: sticky;
    top: -1px;
    background-color: var(--app-background-color);
}

.header__title {
    font-weight: bold;
    font-size: var(--secondary-text-size);
    color: var(--text-color);
}

@media (min-width: 900px) {
    .header {
        padding: 20px 0 16px 0;
        background-color: var(--background-color);
    }

    .header__title {
        font-weight: bold;
        font-size: var(--secondary-text-size);
        color: var(--text-color);
    }
}