.nav {
    margin: 20px 0 15px 0;
}

.ads {
    width: 320px;
    height: 550px;
    margin: 0 1rem 2rem 0;
    position: sticky;
    top: 1rem;
}

@media (min-width: 1700px) {
    .ads {
        width: 340px;
    }
}

.card {
    height: 600px;
}

.content {
    display: flex;
}

.list {
    width: 100%;
}

.song {
    margin-bottom: 1.5rem;
}

.wrapper {
    height: 100%;
    display: flex;

    &Left {
        position: sticky;
        top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 360px;
    }

    &Right {
        border-radius: 5px;
        margin-left: 1rem;
        background-color: var(--background-color);
        padding: 2rem;
        width: calc(100% - (360px + 2rem));
    }

    @media (min-width: 1200px) {
        &Left {
            width: 400px;
        }

        &Right {
            width: calc(100% - (400px + 2rem));
        }
    }

    @media (min-width: 1700px) {
        &Left {
            width: 440px;
        }

        &Right {
            width: calc(100% - (440px + 2rem));
        }
    }
}
