.card {
    height: 600px;
}

.content {
    display: flex;
}

.list {
    width: 100%;
}

.ads {
    margin: 24px 0;
}

.wrapper {
    height: 100%;
    display: flex;

    &Left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 360px;
    }

    &Right {
        margin-left: 34px;
        width: calc(100% - (360px + 34px));
    }

    @media (min-width: 1200px) {
        &Left {
            width: 400px;
        }

        &Right {
            width: calc(100% - (400px + 34px));
        }
    }

    @media (min-width: 1700px) {
        &Left {
            width: 440px;
        }

        &Right {
            width: calc(100% - (440px + 34px));
        }
    }
}
