.container {
    width: 100%;
    text-align: center;
    font-size: var(--primary-text-size);
    color: var(--neutral-text-color);
}

.container a {
    color: var(--bh-blue);
}

.creators {
    line-height: 1.3;
    padding: 0 0 1rem 0;
}

.creators a:hover {
    text-decoration: underline;
}

.support {
    border-bottom: 1px var(--bh-blue) solid;
}
