.streamers {
    display: flex;

    & div {
        margin-right: 24px;
        background-color: var(--background-color);
        border-radius: 50%;
    }

    &Count {
        color: var(--theme-switcher-color);
        font-weight: bold;
    }
}
