.ads {
    padding: 0 1px;
    display: flex;
    column-gap: 30px;
    row-gap: 16px;
    flex-grow: 1;

    &Compact {
        .banner {
            flex-wrap: wrap;
        }
    }

    &Small {
        flex-direction: column;
        .banner {
            flex-wrap: wrap;
        }
    }
}

.banner {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;

    &Emote {
        height: 64px;
    }

    &Text {
        min-width: 170px;
        max-width: 260px;
        font-size: var(--bh-text-size);
        color: var(--bh-text-color);
        line-height: 1.2;
    }

    &Bth {
        width: 100%;
        height: 60px;
        padding: 0 16px;
        border-radius: 5px;

        & span {
            color: white;
        }
    }

    &:nth-child(1) &Bth {
        background-color: #a53c01;

        &:hover {
            background-color: #c75412;
        }
    }

    &:nth-child(2) .bannerBth {
        background-color: #4759ff;

        &:hover {
            background-color: #4656e9;
        }
    }
}

.toastText {
    line-height: 1.8;
    font-size: var(--bh-large-text-size);
}
