.ads {
    display: flex;

    & div {
        height: 100%;
    }

    &Compact {
        flex-direction: column;

        & .banner {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &Normal {
        flex-direction: row;
        align-items: center;

        & .banner {
            height: 300px;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Emote {
        height: 6rem;
    }

    &Text {
        font-size: var(--secondary-text-size);
        display: block;
        margin: 1rem 0;
    }

    &Bth {
        height: 60px;
        padding: 0 16px;
        border-radius: 5px;

        & span {
            color: white;
        }
    }

    &:nth-child(1) &Bth {
        background-color: #a53c01;

        &:hover {
            background-color: #c75412;
        }
    }

    &:nth-child(2) .bannerBth {
        background-color: #4759FF;
 
        &:hover {
            background-color: #4656e9;
        }
    }
}

.toastText {
    line-height: 1.8;
    font-size: var(--secondary-text-size);
}
