.container {
    width: 100%;
    text-align: center;
    font-size: var(--primary-text-size);
    color: var(--neutral-text-color);
}

.container a {
    color: var(--primary-text-color);
}

.creators {
    padding: 0 0 15px 0;
}

.creators a:hover {
    text-decoration: underline;
}

.support {
    border-bottom: 1px var(--primary-text-color) solid;
}