.button {
    cursor: pointer;
    display: inline-block;
    background-color: var(--bth-color);
    border-radius: 32px;
    padding: 8px 22px;
    transition: all 0.3s;
    color: var(--text-color);
    font-weight: bold;
}

.button:hover {
    background-color: var(--primary-bth-color);
    color: #FFFFFF;
}

.button_active {
    background-color: var(--primary-bth-color);
    color: #FFFFFF;
}

