.contact {
    color: var(--secondary-text-color);
}

.container {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
}

.info__main {
    position: sticky;
    top: 20px;
    margin-bottom: 70px;
}

.info__links {
    border-radius: 5px;
    margin: 24px 0;
    width: 350px;
    background-color: var(--accent-background-color);
}

.info__card {
    width: 350px;
}

.content {
    width: 100%;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 24px;
}

.content__navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content__song {
    margin: 20px 0;
}

.navigation__tabs {
    height: 100%;
    margin-top: 24px;
}

.navigation__tabs > div {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navigation__filters {
    display: flex;
    align-items: center;
}

.filters__title {
    color: var(--text-color);
    font-weight: bold;
}

.filters__buttons > div {
    display: inline-block;
    margin-left: 16px;
    margin-bottom: 10px;
}

.content__main {
    display: flex;
}

.main__board {
    height: 100%;
    position: sticky;
    top: 20px;
}

.main__board .board__item:nth-child(1) {
    margin: 0 0 24px 0;
}

.board__item {
    width: 100%;
}


.main__divider {
    margin: 0 25px;
    background-color: var(--neutral-text-color);
    border-radius: 0.2rem;
    width: 0.1rem;
}

.main__list {
    flex: auto;
}

@media (min-width: 600px) {
    .main__board {
        position: static;
        top: 0;
        display: flex;
        align-items: center;
    }

    .main__board .board__item:nth-child(1) {
        margin: 0 24px 0 0;
    }

    .board__item {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 900px) {
    .main__board .board__item:nth-child(1) {
        margin: 0 0 24px 0;
    }

    .main__board {
        display: block;
        height: 100%;
        position: sticky;
        top: 20px;
    }

    .board__item {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .navigation__filters {
        margin-top: 20px;
    }

    .filters__buttons > div {
        margin-left: 16px;
    }

    .navigation__tabs > div {
        display: inline-block;
        margin-right: 16px;
    }

    .info {
        margin-right: 30px;
        width: 423px;
    }

    .info__links {
        width: 400px;
    }

    .info__card {
        width: 400px;
    }

    .board__item {
        width: 294px;
    }

    .content {
        padding: 30px;
    }
}

@media (min-width: 1800px) {
    .content__navigation {
        flex-direction: row;
    }

    .navigation__filters {
        margin-top: 0;
    }

    .content__song {
        margin: 40px 0;
    }

    .main__divider {
        margin: 0 35px;
    }

    .content {
        padding: 30px 70px;
    }
}
