.container {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 423px;
    margin-right: 30px;
}

.info__main {
    position: sticky;
    top: 20px;
    margin-bottom: 70px;
}

.info__links {
    border-radius: 5px;
    margin: 24px 0;
    width: 400px;
    /*height: 120px;*/
    background-color: var(--accent-background-color);
}

.info__card {
    width: 400px;
}

.content {
    width: 100%;
    border-radius: 5px;
    background-color: var(--background-color);
    padding: 30px;
}

.content__navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content__song {
    margin: 20px 0;
}

.navigation__tabs {
}

.navigation__tabs > div {
    display: inline-block;
    margin-right: 16px;
}

.navigation__filters {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.filters__title {
    color: var(--text-color);
    font-weight: bold;
}

.filters__buttons > div {
    display: inline-block;
    margin-left: 16px;
}


.board__item {
    width: 250px;
}

.content__main {
    display: flex;
}

.main__board {
    height: 100%;
    position: sticky;
    top: 20px;
}

.main__divider {
    margin: 0 25px;
    background-color: var(--neutral-text-color);
    border-radius: 0.2rem;
    width: 0.1rem;
}

.main__list {
    flex: auto;
}

.list__title {

}

@media (min-width: 1400px) {
    .board__item {
        width: 294px;
    }
}

@media (min-width: 1800px) {
    .content__navigation {
        flex-direction: row;
    }

    .navigation__filters {
        margin-top: 0;
    }

    .content__song {
        margin: 40px 0;
    }

    .main__divider {
        margin: 0 35px;
    }

    .content {
        padding: 30px 70px;
    }
}
