.state {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    max-width: 600px;

    &Emote {
        height: 62px;
        margin-right: 1rem;
    }

    &Text {
        font-size: var(--secondary-text-size);
        color: var(--text-color);
    }

    &Title {
        margin-bottom: 10px;
        font-size: var(--secondary-text-size);
        color: var(--bh-blue);
    }

    @media (min-width: 400px) {
        &Emote {
            height: 80px;
            margin-right: 1rem;
        }
    }
}
