.container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.label {
    color: var(--theme-switcher-color);
    font-size: var(--secondary-text-size);
    font-weight: bold;
    padding: 0 15px 0 0 ;
}

@media (min-width: 992px) {
    .label {
        font-size: var(--primary-text-size);
    }
}
