.title {
    color: var(--bh-text-color);
    font-size: var(--bh-big-title-text-size);
    font-weight: bold;

    &:nth-child(1) {
        margin-bottom: 24px;
    }

    &:nth-child(3) {
        margin-top: 24px;
    }
}
