.about {
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
    background-color: var(--background-color);
    
    &Title {
        font-weight: bold;
        text-align: center;
        font-size: var(--secondary-text-size);
        color: var(--primary-text-color);
        margin-bottom: 15px;
    }

    &Text {
        display: inline-block;
        text-align: left;
        line-height: 1.3;
        max-width: 800px;
        color: var(--text-color);
        font-size: var(--secondary-text-size);
    }

    &Indent {
        padding: 0 1rem;
    }

    &Contact {
        font-size: var(--secondary-text-size);
        color: var(--secondary-text-color);
    }
}
