.container {
    border: 2px solid var(--primary-text-color);
    background-color: var(--primary-add-background-color);
}

.text {
    color: var(--primary-text-color);
}

.bth__text {
    color: var(--primary-text-color);
}

.bth {
    background-color: var(--secondary-bth-color);
}

.bth:hover {
    background-color: var(--secondary-hover-bth-color);
}