@import url(./reset.scss);
@import url(./variables.scss);
@import url(./fonts.scss);

.modal-show {
    overflow: hidden;
}

/* scrollbar styles only for desktop */
@media (pointer: fine) {
    * {
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 10px;
            background-color: var(--app-background-color);
        }
        &::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: var(--scroll-color);
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: var(--app-background-color);
        }
    }
}

.skeleton {
    // background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 0.5), rgba(#fff, 0));
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}
