body {
    --online-status-color: #eb0400;
    --offline-status-color: #444444;
    --primary-text-color: #4c8cff;
    --secondary-text-color: #ff810d;
    --hover-bth-text-color: #ffffff;
    --primary-bth-color: #4c8cff;
    --secondary-bth-color: #273c61;
    --tertiary-bth-color: #57340d;
    --secondary-hover-bth-color: #4c8cff;
    --tertiary-hover-bth-color: #f58307;
    --primary-text-size: 13px;
    --secondary-text-size: 16px;

    --bh-background-color: #0e0e10;
    --bh-primary-background-color: #141415;
    --bh-outside-color: rgba(255, 255, 255, 0.1);
    --bh-text-color: #ffffff;
    --bh-description-text-color: rgba(255, 255, 255, 0.4);

    --bh-blue: #4759ff;
    --bh-blue-06: rgba(71, 89, 255, 0.6);
    --bh-blue-008: rgba(71, 89, 255, 0.08);
    --bh-orange: #a53c01;
    --bh-orange-06: rgba(165, 60, 1, 0.6);
    --bh-orange-008: rgba(165, 60, 1, 0.08);
    --bh-green: #01a52f;
    --bh-green-06: rgba(1, 165, 47, 0.6);
    --bh-green-008: rgba(1, 165, 47, 0.08);
    --bh-red: #e43838;
    --bh-red-06: rgba(228, 56, 56, 0.6);
    --bh-red-008: rgba(228, 56, 56, 0.08);

    --bh-card-border-radius: 32px;
    --bh-bth-border-radius: 100px;

    --bh-big-title-text-size: 32px;
    --bh-title-text-size: 26px;
    --bh-small-title-text-size: 24px;
    --bh-large-text-size: 20px;
    --bh-big-text-size: 18px;
    --bh-text-size: 16px;
    --bh-small-text-size: 14px;
    @media (min-width: 440px) {
        --bh-big-title-text-size: 38px;
        --bh-title-text-size: 30px;
    }
    @media (min-width: 900px) {
        --bh-big-title-text-size: 40px;
        --bh-title-text-size: 32px;
    }
    @media (min-width: 1700px) {
        --bh-big-title-text-size: 48px;
        --bh-title-text-size: 34px;
    }
}

body[data-theme='light'] {
    --bth-color: #e0e0e0;
    --app-background-color: #eaeaea;
    --background-color: #ffffff;
    --accent-background-color: #edf2ff;
    --theme-switcher-color: #8a8a8a;
    --text-color: #000000;
    --neutral-text-color: #a0a0a0;
    --primary-add-background-color: #edf2ff;
    --secondary-add-background-color: #ffefe5;
    --scroll-color: rgb(189, 189, 189);

    --bh-blue: #4759ff;
    --bh-blue-06: rgba(71, 89, 255, 0.6);
    --bh-blue-008: rgba(71, 89, 255, 0.08);
    --bh-orange: #a53c01;
    --bh-orange-06: rgba(165, 60, 1, 0.6);
    --bh-orange-008: rgba(165, 60, 1, 0.08);
    --bh-green: #01a52f;
    --bh-green-06: rgba(1, 165, 47, 0.6);
    --bh-green-008: rgba(1, 165, 47, 0.08);
    --bh-red: #e43838;
    --bh-red-06: rgba(228, 56, 56, 0.6);
    --bh-red-008: rgba(228, 56, 56, 0.08);

    --bh-background-color: #fffff;
    --bh-primary-background-color: #ebebeb;
    --bh-secondary-background-color: rgba(0, 0, 0, 0.1);
    --bh-outside-color: rgba(0, 0, 0, 0.1);
    --bh-text-color: #000000;
    --bh-text-color-04: rgba(0, 0, 0, 0.4);
    --bh-text-color-06: rgba(0, 0, 0, 0.6);
    --bh-description-text-color: rgb(0, 0, 0, 0.4);
}

body[data-theme='dark'] {
    --bh-background-color: #0e0e10;
    --bh-primary-background-color: #141415;
    --bh-secondary-background-color: rgba(255, 255, 255, 0.1);
    --bh-outside-color: rgba(255, 255, 255, 0.1);
    --bh-text-color: #ffffff;
    --bh-text-color-04: rgba(255, 255, 255, 0.4);
    --bh-text-color-06: rgba(255, 255, 255, 0.6);
    --bh-description-text-color: rgb(255, 255, 255, 0.4);

    --bh-blue: #4759ff;
    --bh-blue-06: rgba(71, 89, 255, 0.6);
    --bh-blue-008: rgba(71, 89, 255, 0.08);
    --bh-orange: #ff6838;
    --bh-orange-06: rgba(255, 115, 71, 0.6);
    --bh-orange-008: rgba(255, 115, 71, 0.08);
    --bh-green: #a3ff47;
    --bh-green-06: rgba(163, 255, 71, 0.6);
    --bh-green-008: rgba(163, 255, 71, 0.08);
    --bh-red: #fe2c2c;
    --bh-red-06: rgba(255, 71, 71, 0.6);
    --bh-red-008: rgba(255, 71, 71, 0.08);

    --primary-add-background-color: #172132;
    --secondary-add-background-color: #322117;
    --bth-color: #323237;
    --app-background-color: #0f0f10;
    --background-color: #1f1f23;
    --accent-background-color: #18181b;
    --theme-switcher-color: #ffffff;
    --text-color: #ffffff;
    --neutral-text-color: #6f6f75;
    --scroll-color: rgb(40, 40, 40);
}

@media (min-width: 360px) {
    body {
        --primary-text-size: 14px;
        --secondary-text-size: 20px;
    }
}

@media (min-width: 1700px) {
    body {
        --primary-text-size: 16px;
        --secondary-text-size: 24px;
    }
}
