.container {
    text-align: left;
    padding: 16px 16px;
    background-color: var(--accent-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: var(--text-color);
}

.emote {
    margin-bottom: 24px;
}

.song__status {
}

.song__name {
    font-weight: bold;
    font-size: var(--secondary-text-size);
    color: var(--primary-text-color);
}

.song__name:hover {
    text-decoration-line: underline;
}

.song__by {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.by__label {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.by__label span {
    white-space: pre-wrap;
}

.by__name {
    margin: 0 20px 0 10px;
    font-weight: bold;
}

.by__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.song__duration {
    white-space: nowrap;
}

.empty {
    font-size: var(--secondary-text-size);
    font-weight: bold;
}

@media (min-width: 520px) {
    .container {
        flex-direction: row;
        padding: 16px 24px;
    }

    .emote {
        margin-bottom: 0;
    }
}

@media (min-width: 600px) {
    .container {
        padding: 16px 24px;
    }
}

@media (min-width: 900px) {
    .container {
        flex-direction: column;
    }

    .emote {
        margin-bottom: 24px;
    }
}

@media (min-width: 1100px) {
    .container {
        flex-direction: row;
        padding: 25px 60px;
    }

    .emote {
        margin-bottom: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 25px 60px;
    }
}
