.wrapper {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bh-background-color);

    @media (pointer: fine) {
        min-width: calc(100vw - 20px);
    }

    @media (min-width: 1100px) {
        display: flex;
    }
}

.page {
    padding: 0px 10px;
    width: 100%;

    @media (min-width: 500px) {
        padding: 0px 24px;
    }

    @media (min-width: 1100px) {
        padding: 0 40px;
    }

    &Background {
        z-index: -1;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 414px;
        background: linear-gradient(180deg, rgba(14, 14, 16, 0) 0%, var(--bh-background-color) 89.64%),
            url('/src/shared/assets/images/dashboard-background.png') no-repeat;
        opacity: 0.2;
        background-size: 100% 354px;
    }

    &Content {
        padding-bottom: 50px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0 24px calc(50px + 24px);

    &Title {
        position: relative;
        top: 5px;
        word-break: break-all;
        margin-right: 1rem;
        padding-top: 8px;
        font-size: var(--bh-small-title-text-size);
        color: var(--bh-text-color);

        & span {
            font-size: var(--bh-big-title-text-size);
            color: var(--bh-description-text-color);
        }
    }

    &Description {
        display: inline-block;
        margin: 2rem 0 1rem 0;
        font-weight: bold;
        color: var(--bh-text-color-06);
        font-size: var(--bh-large-text-size);
    }

    @media (min-width: 600px) {
        &Title {
            padding-top: 0;
            font-size: var(--bh-big-title-text-size);
        }
    }

    @media (min-width: 1100px) {
        padding: 24px 0;

        &Title {
            padding-top: 0;
            font-size: var(--bh-big-title-text-size);
        }
    }

    &Settings {
        &Theme {
            overflow: hidden;
            width: 50px;
            height: 50px;
            border: 1px solid var(--bh-outside-color);
            border-radius: 100px;

            & button {
                width: 100%;
                height: 100%;
                padding: calc((50px - 24px) / 2);
            }
        }
    }
}
