.container {
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.burger div {
    width: 100%;
    height: 3px;
    background-color: var(--theme-switcher-color);
}

.burger__open {
    position: relative;
}

.burger__open div {
    display: none;
}

.burger__open div:last-child {
    position: absolute;
    display: block;
    rotate: 45deg;
}

.burger__open div:first-child {
    display: block;
    rotate: 135deg;
}

.empty {
    width: 28px;
    height: 28px;
}

.menu {
    z-index: 1;
    position: fixed;
    left: 0;
    padding: 25px 15px 0 15px;
    border-radius: 5px 5px 0 0;
    transition: bottom 0.3s;
    height: 382px;
    bottom: -382px;
    width: 100%;
    background-color: var(--accent-background-color);
}

.menu__open {
    bottom: -2px;
}

.menu_bth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    border-radius: 5px;
    background: var(--background-color);
}

@media (min-width: 992px) {
    .container {
        padding-bottom: 40px;
    }
}

@media (min-width: 1700px) {
    .container {
        padding-bottom: 60px;
    }
}

.streamers {
    height: 100%;
    display: flex;
}

.streamers__streamer {
    height: 60px;
    width: 60px;
    margin-right: 24px;
}

.streamers__count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-switcher-color);
    font-size: var(--primary-text-size);
    font-weight: bold;
    background-color: var(--background-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: 1px solid var(--offline-status-color);
    outline-offset: -1px;
}

.settings {
    display: flex;
    align-items: center;
}
