.pageContent {
    @media (min-width: 1100px) {
        width: calc(100vw - 400px);
    }
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 5px;
    }

    @media (pointer: coarse) {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.tab {
    cursor: pointer;
    padding: 10px;
    color: var(--bh-text-color-06);
    font-weight: bold;
    font-size: var(--bh-large-text-size);
    transition: color 0.3s;
    border-bottom: 3px solid transparent;

    &Focus {
        cursor: normal;
        color: var(--bh-text-color);
        border-bottom-color: var(--bh-blue);
    }

    &:hover {
        color: var(--bh-text-color);
        border-bottom: 3px solid var(--bh-blue);
    }
}

.commands {
    padding: 40px 0;
    border-radius: 10px;
    background-color: var(--bh-primary-background-color);
    border: 1px solid var(--bh-outside-color);

    &Header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.addCommand {
    margin: 0 40px 20px 40px;
}

.field {
    width: 300px;
    margin: 0 40px 40px 40px;
}

.empty {
    text-align: center;

    &Title {
        display: block;
        margin: 16px 0;
        color: var(--bh-text-color);
        font-weight: bold;
        font-size: var(--bh-large-text-size);
    }

    &Text {
        display: block;
        color: var(--bh-text-color);
        font-size: 1rem;
    }
}

.newCommand {
    &Title {
        text-align: center;
        color: var(--bh-text-color);
        font-size: var(--bh-large-text-size);
        
    }

    &Types {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}