.languageSwitcher {
    color: var(--bh-blue);
    font-size: var(--secondary-text-size);
    font-weight: bold;
    cursor: pointer;

    @media (min-width: 992px) {
        font-size: var(--primary-text-size);
    }
}
