.page {
    &Content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
    }
}

.statuses {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 30px;
}

.status {
    width: 470px;
    height: 220px;

    &Text {
        height: 78px;
        margin: 12px 0 8px 0;
    }

    &Buttons {
        display: flex;
        justify-content: space-between;
    }
}

.status:last-child {
    margin-bottom: 0;
}

.emotes {
    overflow: hidden;
    flex: auto;
    // width: max-content;
    height: 472px;
}

.streamInfo {
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
}

.streamInfoCard {
    font-weight: normal;

    &Title {
        margin-bottom: 1rem;
    }

    & span {
        margin-top: 8px;
    }
}

.song {
    flex: auto;
    width: min-content;

    &Sender {
        margin-top: 8px;
    }

    &Footer {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;
        column-gap: 12px;
    }
}
