.container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline-offset: -1px;
    outline-width: 1px;
    outline-style: solid;
    position: relative;
}

.online {
    outline-color: var(--online-status-color);
}

.offline {
    outline-color: var(--offline-status-color);
}

.online::before {
    background-color: var(--online-status-color);
}

.offline::before {
    background-color: var(--offline-status-color);
}

.img {
    border-radius: 50%;
}

.container::before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.img {
    width: 100%;
    height: 100%;
}