.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bh-primary-background-color);
    border: 1px solid var(--bh-outside-color);
    border-radius: var(--bh-card-border-radius);
    font-size: var(--bh-big-text-size);
    color: var(--bh-text-color);
    font-weight: bold;
    line-height: 1.5;

    &Blue {
        border-color: var(--bh-blue-06);
        background-color: var(--bh-blue-008);
    }

    &Green {
        border-color: var(--bh-green-06);
        background-color: var(--bh-green-008);
    }

    &Orange {
        border-color: var(--bh-orange-06);
        background-color: var(--bh-orange-008);
    }

    &Red {
        border-color: var(--bh-red-06);
        background-color: var(--bh-red-008);
    }

    &Padding {
        &Normal {
            padding: 30px;

            .cardTitle {
                margin: 8px 0;
            }
        }

        &Small {
            padding: 16px 24px;

            .cardTitle {
                margin: 8px 0;
            }
        }

        &Big {
            padding: 40px;

            .cardTitle {
                margin: 16px 0;
            }
        }
    }

    &Description {
        font-weight: normal;
        flex-shrink: 0;
        font-size: var(--bh-small-text-size);
        color: var(--bh-description-text-color);

        &Red {
            color: var(--bh-red);
        }

        &Blue {
            color: var(--bh-blue);
        }

        &Green {
            color: var(--bh-green);
        }

        &Orange {
            color: var(--bh-orange);
        }
    }

    &Title {
        flex-shrink: 0;
        line-height: 1;
        display: inline-block;
        font-weight: bold;
        color: var(--bh-text-color);
        font-size: var(--bh-title-text-size);

        & span,
        a {
            font-weight: bold;
            color: var(--bh-text-color);
            font-size: var(--bh-title-text-size);
        }

        & a:hover {
            text-decoration: underline;
        }

        &Blue {
            color: var(--bh-blue);
            & a {
                color: var(--bh-blue);
            }
        }

        &Green {
            color: var(--bh-green);
            & a {
                color: var(--bh-green);
            }
        }

        &Orange {
            color: var(--bh-orange);
            & a {
                color: var(--bh-orange);
            }
        }
    }

    &Expanded {
        height: 100%;
        flex-shrink: 1;
    }

    &Footer {
        flex-shrink: 0;
    }

    &Divider {
        flex-shrink: 0;
        margin: 24px 0;
        width: 100%;
        border: 1px solid var(--bh-outside-color);
    }
}
