* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

body.modal-show {
    overflow: hidden;
}

@font-face {
    font-family: helveticaneuecyr;
    font-style: normal;
    font-weight: 400;
    src: local('HelveticaNeueCyr'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecyr-roman.eot?#iefix')
            format('embedded-opentype'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecyr-roman.woff')
            format('woff'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecyr-roman.ttf')
            format('truetype');
}

@font-face {
    font-family: helveticaneuecyr;
    font-style: normal;
    font-weight: 500;
    src: local('HelveticaNeueCyr'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecy-bold.eot?#iefix')
            format('embedded-opentype'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecyr-bold.woff')
            format('woff'),
        url('../static/fonts/helveticaneuecyr/helveticaneuecyr-bold.ttf')
            format('truetype');
}

body[data-theme='light'] {
    --bth-color: #e0e0e0;
    --app-background-color: #eaeaea;
    --background-color: #ffffff;
    --accent-background-color: #edf2ff;
    --theme-switcher-color: #8a8a8a;
    --text-color: #000000;
    --neutral-text-color: #a0a0a0;
    --primary-add-background-color: #edf2ff;
    --secondary-add-background-color: #ffefe5;
}

body[data-theme='dark'] {
    --primary-add-background-color: #172132;
    --secondary-add-background-color: #322117;
    --bth-color: #323237;
    --app-background-color: #0f0f10;
    --background-color: #1f1f23;
    --accent-background-color: #18181b;
    --theme-switcher-color: #ffffff;
    --text-color: #ffffff;
    --neutral-text-color: #6f6f75;
}

body {
    --online-status-color: #eb0400;
    --offline-status-color: #444444;
    --primary-text-color: #4c8cff;
    --secondary-text-color: #ff810d;
    --hover-bth-text-color: #ffffff;
    --primary-bth-color: #4c8cff;
    --secondary-bth-color: #273c61;
    --tertiary-bth-color: #57340d;
    --secondary-hover-bth-color: #4c8cff;
    --tertiary-hover-bth-color: #f58307;
    --primary-text-size: 14px;
    --secondary-text-size: 20px;
}

* {
    font-family: 'HelveticaNeueCyr', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    line-height: 1.1;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 5px;
    background-color: var(--app-background-color);
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: var(--app-background-color);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: none;
    background-color: var(--neutral-text-color);
}

body {
    background-color: var(--app-background-color);
}

.app-container {
    padding: 30px 15px;
}

@media (min-width: 1200px) {
    .app-container {
        padding: 30px 40px;
    }
}

@media (min-width: 1700px) {
    .app-container {
        padding: 35px 80px 60px 80px;
    }

    body {
        --primary-text-size: 16px;
        --secondary-text-size: 24px;
    }
}
