.item {
    &Name {
        font-size: calc(var(--primary-text-size) + 2px);
        overflow-wrap: anywhere;
        color: var(--secondary-text-color);
    }

    &Link {
        &:hover {
            text-decoration: underline;
        }
    }
}
