.button {
    // display: inline-block;
    border-radius: 32px;
    padding: 8px 22px;
    background-color: var(--bth-color);
    font-weight: bold;
    color: var(--text-color);
    transition: all 0.3s;

    &:hover {
        background-color: var(--primary-bth-color);
        color: #ffffff;
    }
    
    &Active {
        background-color: var(--primary-bth-color);
        color: #ffffff;
    }
}
